<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/dashboard.css">
    <link  rel="stylesheet" href="../styles/student.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <title>Teacher Dashboard</title>
</head>
<body>
    <header class="header">
        <h1><span id="school-name">School Information</span></h1>
        <div class="back-button">
            <i class="fas fa-arrow-left"></i>
        </div>
    </header>
    

    <main>
        <section class="school-head">
            <div class="head" >
                <h3>Form Master</h3>
                <p id="principal" >Master</p>
                <p id="phone" >070 000 0000</p>
            </div>
        </section>

        <section class="school-statistics">
            <h2>Class Statistics</h2>
            <div class="school-info" >
                <div class="total-teachers" >
                    <h3>Total Students</h3>
                    <p id="totalteachers" >0</p>
                </div>
                <div class="total-teachers" >
                    <h3>Current Students In Class</h3>
                    <p id="totalteachers" >0</p>
                </div>
                <div class="total-teachers" >
                    <h3>Morning Attandance</h3>
                    <p id="totalteachers" >0</p>
                </div>
                <div class="total-teachers" >
                    <h3>Afternoon Attandance</h3>
                    <p id="totalteachers" >0</p>
                </div>
            </div>
            <div class="button-stat" >
                <button class="buttons" onclick="callAttandance()">Call Attandance</button>
            </div>
        </section>

        <section class="continous-ca"  id="call-student" >
            <h3>
                <p>Enter the Student Details</p>
                <form method="post" action="">
                    <div class="form-group">
                        <label for="student">Student Name:</label>
                        <input type="text" id="studentName" name="studentName" placeholder="Enter student name" >
                    </div>
                    <div class="form-group">
                        <label for="regNum">Student Reg Number:</label>
                        <input type="text" id="regNumber" name="regNumber" placeholder="Enter your Student Registration Number" >
                    </div>
                </form>
                <button onclick="handleAttanceCall()"  class="buttons" >Search Student</button>
            </h3>
        </section>
    
        <section class="report-sheet" id="show-attandance">
            <div class="header">
                <h1 id="studentName">StudentName Attandance Details</h1>
            </div>
            <div class="attandance-buttons">
                <button class="buttons" >Present</button>
                <button class="buttons" >Absent</button>
            </div>
            <div class="student-info">
                <h2>Student Information</h2>
                <p  id="studentName"  ><strong>Student Name:</strong>Student Name</p>
                <p  id="regNum"><strong>Registration Number:</strong> 12345</p>
                <p  id="class"><strong>Class:</strong> 10A</p>
                <p  id="year"><strong>Academic Year:</strong> 2023-2024</p>
                <p  id="year"><strong>Weekly Attance:</strong>0/5</p>
                <p  id="year"><strong>Monthly Attance:</strong>0/20</p>
                <p  id="year"><strong>Term Attance:</strong>0/60</p>
                <p  id="year"><strong>Percentage:</strong>0/100</p>
            </div>
               
        </section>
    </main>

    <footer>
        <p>&copy; Design by Ibrahim Abdulkarim</p>
    </footer>

    <script src="../scripts/index.js" >
    </script>

</body>
</html>