<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/dashboard.css">
    <link  rel="stylesheet" href="../styles/student.css" />
    <title>Teacher Dashboard</title>
</head>
<body>
    <header>
        <h1> <span id="teacher-name" ></span>Attandance Information</h1>
    </header>
    <main>
        <section class="school-head">
            <div class="head" >
                <h3>Form Master</h3>
                <p id="principal" >Master</p>
                <p id="phone" >070 000 0000</p>
            </div>
        </section>

        <section class="school-statistics">
            <h2>Class Statistics</h2>
            <div class="school-info" >
                <div class="total-teachers" >
                    <h3>Total Students</h3>
                    <p id="totalteachers" >0</p>
                </div>
                <div class="total-teachers" >
                    <h3>Current Students In Class</h3>
                    <p id="totalteachers" >0</p>
                </div>
                <div class="total-teachers" >
                    <h3>Morning Attandance</h3>
                    <p id="totalteachers" >0</p>
                </div>
                <div class="total-teachers" >
                    <h3>Afternoon Attandance</h3>
                    <p id="totalteachers" >0</p>
                </div>
            </div>
            <div class="button-stat" >
                <button class="buttons" onclick="callAttandance()">Call Attandance</button>
            </div>
        </section>

       
        
    </main>

    <footer>
        <p>&copy; Design by Ibrahim Abdulkarim</p>
    </footer>

    <script src="../scripts/index.js" >
    </script>

</body>
</html>