<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/dashboard.css">
    <title>School Dashboard</title>
</head>
<body>
    <header>
        <h1> <span id="school-name" ></span>School Information</h1>
    </header>
    <main>
        <section class="school-head" >
            <div class="head" >
                <h3>School Director/Principal/Admin</h3>
                <p id="principal" >Principal</p>
                <p id="phone" >070 000 0000</p>
            </div>
        </section>
        <section class="school-statistics">
            <h2>School Statistics</h2>
            <div class="school-info" >
                <div class="total-teachers" >
                    <h3>Total Teachers</h3>
                    <p id="totalteachers" >0</p>
                </div>
                <div class="total-teachers" >
                    <h3>Total Students</h3>
                    <p id="totalteachers" >0</p>
                </div>
                <div class="total-teachers" >
                    <h3>Total Classes</h3>
                    <p id="totalteachers" >0</p>
                </div>
            </div>
            <div class="button-stat" >
                <button class="buttons" onclick="getUpdateForm()" >Update School Information</button>
            </div>
       
        </section>
        <section class="school-details" id="showUpdateForm" >
            <h2>Update School Details</h2>
            <form id="schoolDetailsForm"  method="post" action="/updateForm">
                <div class="form-group">
                    <label for="schoolName">School Name:</label>
                    <input type="text" id="schoolName" name="schoolName">
                </div>
                <div class="form-group">
                    <label for="numTeachers">Number of Teachers:</label>
                    <input type="number" id="numTeachers" name="numTeachers" min="0">
                </div>
                <div class="form-group">
                    <label for="numStudents">Number of Students:</label>
                    <input type="number" id="numStudents" name="numStudents" min="0">
                </div>
                <div class="form-group">
                    <label for="numClasses">Number of Classes:</label>
                    <input type="number" id="numClasses" name="numClasses" min="0">
                </div>
                <!-- Add more fields as needed -->
                <button type="submit" >Update Details</button>
            </form>
        </section>
        <section class="update-teachers" >
            <h3>Teachers Managing Students</h3>
            <ul>
                <li>Name:Teacher 1 <span id="class" >Class: SSS</span>   <span id="total-students" >Total Students: 0</span> </li>
                <li>Name:Teacher 1 <span id="class" >Class: SSS</span>   <span id="total-students" >Total Students: 0</span> </li>
            </ul>
            <button class="buttons"  onclick="showTeachers()" >Add Teacher</button>
            <button class="buttons" >Remove Teacher</button>
        </section>
        <section class="teacher-enrollment"  id="showTeachers" >
            <h2>Add Teachers</h2>
            <p>Add Form Master or Class Master to Manage your students for exams report sheet etc</p>
            <form method="post" action="">
                <div class="form-group">
                    <label for="teacherName">Teacher Name:</label>
                    <input type="text" id="teacherName" name="teacherName">
                </div>
                <div class="form-group">
                    <label for="teacherclass">Teacher Class</label>
                    <input type="text" id="teacherClass" name="teacherSubject">
                </div>
                <div class="form-group">
                    <label for="teacherPhone">Teacher Phone Number</label>
                    <input type="text" id="teacherClass" name="teacherSubject">
                </div>
                <div class="form-group">
                    <label for="teacherEmail">Teacher Email Address</label>
                    <input type="text" id="teacherClass" name="teacherSubject">
                </div>
                <!-- Add more fields for teacher information -->
                <button type="submit">Add Teacher</button>
            </form>
        </section>
       
    </main>
    <footer>
        <p>&copy; Design by Ibrahim Abdulkarim</p>
    </footer>

    <script>

        const updateForm = document.getElementById('showUpdateForm');
        const updateTeachers = document.getElementById('showTeachers');

        function getUpdateForm(){
            updateForm.style.display = 'block'
        }

        function hideDetails(e){
            e.preventDefault();
            updateForm.style.display = 'none'
        }


        function showTeachers(){
            updateTeachers.style.display = 'block'
        }

        function hideTeachersDetails(){
            updateTeachers.style.display = 'none'
        }

        document.addEventListener('submit', hideDetails);
        document.addEventListener('submit', hideTeachersDetails);
        

        

    </script>
</body>
</html>