<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  href="../styles/index.css"  rel="stylesheet" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
    <title>Assessor</title>
</head>
<body>
    <div class="try" id="try">
        <h3>Login Here</h3>
        <div class="box-try">
            <p>Login to your School Dashboard</p>
            <form action="/api/schools/login" method="post">
                <label for="email" >Email Address</label>
                <input type="email" id="email" name="email" placeholder="Enter your school email address"/>
                <label for="password"   >Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your school password" />
                <input type="submit" value="Submit" />
            </form>
            <label for="registered0" >Not Registered</label>
            <a href="./register.html" >Register</a>
        </div>
    </div>
</body>
</html>