<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/dashboard.css">
    <link  rel="stylesheet" href="../styles/student.css" />
    <title>Teacher Dashboard</title>
</head>
<body>
    <header>
        <h1> <span id="student-name" ></span>Student Name</h1>
    </header>
    <main>
        <section class="continous-ca"  >
           
        <section class="report-sheet" id="showReportSheet">
            <div class="student-info">
                <h2>Student Information</h2>
                <p  id="studentName"  ><strong>Student Name:</strong>Student Name</p>
                <p  id="regNum"><strong>Registration Number:</strong> 12345</p>
                <p  id="class"><strong>Class:</strong> 10A</p>
                <p  id="year"><strong>Academic Year:</strong> 2023-2024</p>
            </div>
          
        <div class="subjects"  id="showSubjects"  >
            <table>
                <tr>
                    <th>Subject</th>
                    <th>CA</th>
                    <th>Exam</th>
                    <th>Total</th>
                    <th>Grade</th>
                    <th>Remarks</th>
                </tr>
                <tr>
                    <td>English</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>F</td>
                    <td>Poor</td>
                </tr>
                <tr>
                    <td>Math</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>F</td>
                    <td>Poor</td>
                </tr>
                <tr id="student-data">  
                </tr>
            </table>
            <button class="buttons"  onclick="showAssessmentForm()" >Update Student CA</button>
            <button class="buttons" onclick="printStudentCA()" >Print Student Result</button>
        </div>
        </section>
        <section id="Assessment-form">
            <h3>Complete the Student Assessment Form</h3>
            <form action="" method="post">
                <table>
                    <tr>
                        <th>Subject</th>
                        <th>CA</th>
                        <th>Exam</th>
                        <th>Total</th>
                        <th>Grade</th>
                        <th>Remarks</th>
                    </tr>
                    <tr>
                        <td>English</td>
                        <td><input type="number" id="ca" name="ca" value="0"></td>
                        <td><input type="number" id="exam" name="exam" value="0"></td>
                        <td><input type="number" id="total" name="total" value="0"></td>
                        <td><input type="text" id="grade" name="grade" value="F"></td>
                        <td><input type="text" id="remarks" name="remarks" value="Poor"></td>
                    </tr>
                    <tr>
                        <td>Mathematics</td>
                        <td><input type="number" id="ca" name="ca" value="0"></td>
                        <td><input type="number" id="exam" name="exam" value="0"></td>
                        <td><input type="number" id="total" name="total" value="0"></td>
                        <td><input type="text" id="grade" name="grade" value="F"></td>
                        <td><input type="text" id="remarks" name="remarks" value="Poor"></td>
                    </tr>
                </table>
                <button class="buttons" onclick="handleResultCalculation()" >Update Result</button>
                <input type="submit" value="Submit" onclick="hideAssessmentForm()" >
            </form>
        </section>
        <section class="science-subjects">
            <h1>List of Subjects For the Students</h1>
            <table>
                <thead>
                    <tr>
                        <th>Subject</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>English</td>
                    </tr>
                    <tr>
                        <td>Mathematics</td>
                    </tr>
                    <tr>
                        <td>Physics</td>
                    </tr>
                    <tr>
                        <td>Biology</td>
                    </tr>
                    <tr>
                        <td>Chemistry</td>
                    </tr>
                    <tr>
                        <td>Geography</td>
                    </tr>
                </tbody>
            </table>

            <section id="add-subject" >
                <form method="post" action="">
                    <div class="form-group">
                        <label for="subject">Subject Name:</label>
                        <input type="text" id="subjectName" name="subjectName" placeholder="Enter the name of the subject" >
                    </div>
                    <button class="buttons" >Add</button>
                </form>
            </section>
            <section id="delete-subject" >
                <form method="post" action="">
                    <div class="form-group">
                        <label for="subject">Subject Name:</label>
                        <input type="text" id="subjectName" name="subjectName" placeholder="Enter the name of the subject" >
                    </div>
                    <button class="buttons" >Delete</button>
                </form>
            </section>
            <button class="buttons" onclick="handleAddSubject()" >Add Subjects</button>
            <button class="buttons" onclick="handleRemoveSubject()" >Delete Subjects</button>
       
        </section>
    </section>

        
        
    </main>

    <footer>
        <p>&copy; Design by Ibrahim Abdulkarim</p>
    </footer>

    <script src="../scripts/index.js" >
    </script>

</body>
</html>