<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/dashboard.css">
    <link  rel="stylesheet" href="../styles/student.css" />
    <title>Teacher Dashboard</title>
</head>
<body>
    <header>
        <h1 id="student-name" ></h1>
    </header>
    <main>
        <section class="continous-ca"  >
           
        <section class="report-sheet" id="showReportSheet">
            <div class="student-info">
                <h2>Student Information</h2>
                <p><strong>Student Name:</strong>  <span id="student" ></span>  </p>
                <p><strong>Registration Number:</strong> <span  id="reg-num"  ></span>  </p>
                <p><strong>Class:</strong> <span id="class" ></span></p>
                <p><strong>Academic Year:</strong>  <span id="year" ></span> 2023-2024</p>
            </div>
          
        <div class="subjects"  id="showSubjects"  >
            <table  id="report-data">
                <tr>
                    <th>Subject</th>
                    <th>CA</th>
                    <th>Exam</th>
                    <th>Total</th>
                    <th>Grade</th>
                    <th>Remarks</th>
                </tr> 
            </table>
            <button class="buttons"  onclick="showAssessmentForm()">Update Student CA</button>
            <button class="buttons" onclick="printStudentCA()" >Print Student Result</button>
        </div>
        </section>
        <section id="Assessment-form">
            <h3>Complete the Student Assessment Form</h3>
            <form method="post">
                <table  id="edit-report">
                    <tr>
                        <th>Subject</th>
                        <th>CA</th>
                        <th>Exam</th>
                        <th>Total</th>
                        <th>Grade</th>
                        <th>Remarks</th>
                    </tr>
                </table>
                <input value="Update Result"  type="submit" onclick="handleResultCalculation()" >
            </form>
        </section>
        <section class="science-subjects">
            <h1>List of Subjects For the Students</h1>
            <table>
                <thead>
                    <tr>
                        <th>Subject</th>
                    </tr>
                </thead>
                <tbody id="subject-list" >
                  
                </tbody>
            </table>

            <section id="add-subject" >
                <form method="post">
                    <div class="form-group">
                        <label for="subject">Subject Name:</label>
                        <input type="text" id="subject" name="subject" placeholder="Enter the name of the subject" >
                    </div>
                    <button class="buttons" type="submit" onclick="handleUpdateSubject()"  >Add</button>
                </form>
            </section>
            <section id="delete-subject" >
                <form method="post" action="">
                    <div class="form-group">
                        <label for="subject">Subject Name:</label>
                        <input type="text" id="subjectName" name="subjectName" placeholder="Enter the name of the subject" >
                    </div>
                    <button class="buttons"  type="submit" onclick="handledeleteSubject()"  >Delete</button>
                </form>
            </section>
            <button class="buttons" onclick="handleAddSubject()" >Add Subjects</button>
            <button class="buttons" onclick="handleRemoveSubject()" >Delete Subjects</button>
       
        </section>
    </section>

        
        
    </main>

    <footer>
        <p>&copy; Design by Ibrahim Abdulkarim</p>
    </footer>

    <script src="../scripts/index.js" >
    </script>
    <script src="../scripts/student.js" >
    </script>

</body>
</html>