<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/dashboard.css">
    <link  rel="stylesheet" href="../styles/student.css" />
    <title>Teacher Dashboard</title>
</head>
<body>
    <header>
        <h1> <span id="teacher-name" ></span>Class Information</h1>
    </header>
    <main>
        <section class="school-head" >
            <div class="head" >
                <h3>Form Master</h3>
                <p id="principal" >Master</p>
                <p id="phone" >070 000 0000</p>
            </div>
        </section>

        <section class="school-statistics">
            <h2>Class Statistics</h2>
            <div class="school-info" >
                <div class="total-teachers" >
                    <h3>Total Students</h3>
                    <p id="totalteachers" >0</p>
                </div>
                <div class="total-teachers" >
                    <h3>Number of Subjects</h3>
                    <p id="totalteachers" >0</p>
                </div>
                <div class="total-teachers" >
                    <h3>Number of Boys</h3>
                    <p id="totalteachers" >0</p>
                </div>
                <div class="total-teachers" >
                    <h3>Number of Girls</h3>
                    <p id="totalteachers" >0</p>
                </div>
            </div>
            <div class="button-stat" >
                <button class="buttons" onclick="getUpdateForm()">Update Class Information</button>
            </div>
        </section>

        <section class="school-details" id="showUpdateForm" >
            <h2>Update Class Details</h2>
            <form id="schoolDetailsForm"  method="post" action="/updateForm">
                <div class="form-group">
                    <label for="className">Class Name:</label>
                    <input type="text" id="schoolName" name="schoolName">
                </div>
                <div class="form-group">
                    <label for="numStudents">Number of Students:</label>
                    <input type="number" id="numTeachers" name="numSubjects" min="0">
                </div>
                <div class="form-group">
                    <label for="numSubjects">Number of Subjects:</label>
                    <input type="number" id="numStudents" name="numStudents" min="0">
                </div>
                <div class="form-group">
                    <label for="numClasses">Number of Classes:</label>
                    <input type="number" id="numClasses" name="numClasses" min="0">
                </div>
                <div class="form-group">
                    <label for="numboys">Number of Boys:</label>
                    <input type="number" id="numClasses" name="numboys" min="0">
                </div>
                <div class="form-group">
                    <label for="numboys">Number of Girls:</label>
                    <input type="number" id="numClasses" name="numgirls" min="0">
                </div>
                <!-- Add more fields as needed -->
                <button type="submit" >Update Details</button>
            </form>
        </section>
        <section class="update-teachers" >
            <h3>Students In the Class</h3>
            <ul>
                <li>Name:student 1 <span id="student-in-class" ></li>
                <li>Name:student 2 <span id="student-in-class" ></li>
            </ul>
            <button class="buttons"  onclick="showTeachers()" >Add Student</button>
            <button class="buttons"  onclick="removeTeacher()">Remove Student</button>
        </section>

        <section class="teacher-enrollment"  id="showTeachers" >
            <h2>Add Students</h2>
            <p>Add Number of Students in Your class</p>
            <form method="post" action="">
                <div class="form-group">
                    <label for="studentName">Student Name:</label>
                    <input type="text" id="studentName" name="teacherName">
                </div>
                <div class="form-group">
                    <label for="regNum">Student Reg Number</label>
                    <input type="text" id="regNumber" name="regNumber" placeholder="Enter your Student Registration Number" >
                </div>
                <div class="form-group">
                    <label for="sex">Enter Student Sex</label>
                    <input type="text" id="teacherClass" name="teacherSubject">
                </div>
                <div class="form-group">
                    <label for="town">Home Town</label>
                    <input type="text" id="teacherClass" name="teacherSubject">
                </div>
                <!-- Add more fields for teacher information -->
                <button type="submit">Add Teacher</button>
            </form>
        </section>

        <section class="teacher-enrollment"  id="removeTeachers" >
            <h2>Remove Student</h2>
            <p>Add the Necessary details to remove your student</p>
            <form method="post" action="">
                <div class="form-group">
                    <label for="student">Student Name:</label>
                    <input type="text" id="studentName" name="studentName">
                </div>
                <div class="form-group">
                    <label for="regNum">Student Reg Number</label>
                    <input type="text" id="regNumber" name="regNumber" placeholder="Enter your Student Registration Number" >
                </div>
             
                <!-- Add more fields for teacher information -->
                <button type="submit">Remove Student</button>
            </form>
        </section>
        <section class="manage-peoples">
            <h2>Manage Your Students</h2>
            <div class="manage-students" >
                <div class="total-teachers" >
                    <h3>Continous Assessment</h3>
                    <button id="CA"  class="buttons" onclick="showContinousCa()"  >Prepare CA</button>
                </div>
                <div class="total-teachers" >
                    <h3>Daily Attandance</h3>
                    <button id="attendance"  class="buttons" >Call Attandance</button>
                </div>
                <div class="total-teachers" >
                    <h3>Prepare Lessons</h3>
                    <button id="lesson" class="buttons" >Lessons</button>
                </div>
                <div class="total-teachers" >
                    <h3>Update Student Parent Info</h3>
                    <button id="lesson" class="buttons" >Parents Info</button>
                </div>
            </div>
        </section>
        <section class="science-subjects">
            <h1>List of Science Subjects</h1>
            <table>
                <thead>
                    <tr>
                        <th>Subject</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Biology</td>
                    </tr>
                    <tr>
                        <td>Chemistry</td>
                    </tr>
                    <tr>
                        <td>Physics</td>
                    </tr>
                    <tr>
                        <td>Environmental Science</td>
                    </tr>
                    <tr>
                        <td>Astronomy</td>
                    </tr>
                    <tr>
                        <td>Geology</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="continous-ca" id="cont-ass" >
            <h3>
                <p>Enter the Student Details to Manage His CA</p>
                <form method="post" action="">
                    <div class="form-group">
                        <label for="student">Student Name:</label>
                        <input type="text" id="studentName" name="studentName" placeholder="Enter student name" >
                    </div>
                    <div class="form-group">
                        <label for="regNum">Student Reg Number:</label>
                        <input type="text" id="regNumber" name="regNumber" placeholder="Enter your Student Registration Number" >
                    </div>
                    <button type="submit">Search Students CA</button>
                </form> 
            </h3>
        </section>

        <section class="report-sheet" id="showReportSheet">
            <div class="header">
                <h1 id="studentName">StudentName Continous Assessment</h1>
            </div>
            <div class="student-info">
                <h2>Student Information</h2>
                <p  id="studentName"  ><strong>Student Name:</strong>Student Name</p>
                <p  id="regNum"><strong>Registration Number:</strong> 12345</p>
                <p  id="class"><strong>Class:</strong> 10A</p>
                <p  id="year"><strong>Academic Year:</strong> 2023-2024</p>
            </div>
          
        <div class="subjects">
            <table>
                <tr>
                    <th>Subject</th>
                    <th>CA</th>
                    <th>Exam</th>
                    <th>Total</th>
                    <th>Grade</th>
                    <th>Remarks</th>
                </tr>
                <tr>
                    <td>English</td>
                    <td>80</td>
                    <td>60</td>
                    <td>140</td>
                    <td>A</td>
                    <td>Excellent</td>
                </tr>
                <tr>
                    <td>Math</td>
                    <td>75</td>
                    <td>88</td>
                    <td>163</td>
                    <td>B</td>
                    <td>Good</td>
                </tr>
                <tr id="student-data">
                   
                </tr>
            </table>
        </div>

        </section>
    </main>



    <footer>
        <p>&copy; Design by Ibrahim Abdulkarim</p>
    </footer>

    <script src="../scripts/index.js" >
    </script>


</body>
</html>