.introduction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 100px;
}

.intr-image {
    flex: 1;
    max-width: 50%;
}

.intr-image img {
    width: 100%;
    height: auto;
    display: block;
}

.text {
    flex: 1;
    padding: 20px;
    text-align: left;
}

h2 {
    font-size: 2em;
    color: white;
}

p {
    font-size: 20px;
    margin: 50px 0;
    line-height: 30px;
    color: white;

}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


@media screen and (max-width: 800px) {
    .introduction {
        display: block;
    }

    .intr-image {
        text-align: center;
    }

    .intr-image img {
        width: 200%; /* Adjust the width as needed */
        height: auto;
    }

    .text {
        text-align: center;
    }
}
