.report-sheet {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.header {
    text-align: center;
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
}

.header h1 {
    font-size: 28px;
}

.student-info, .subjects, .signatures {
    margin: 20px 0;
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
}

.signatures {
    display: flex;
    justify-content: space-between;
}

.signatures p {
    margin: 0;
    font-size: 16px;
}

/* ... Previous CSS content ... */

.subjects table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.subjects table, .subjects th, .subjects td {
    border: 1px solid #ddd;
}

.subjects th, .subjects td {
    padding: 10px;
    text-align: left;
}

.subjects th {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}

#showReportSheet{
    display: none;
}

#add-subject{
    display: none;
}

#delete-subject{
    display: none;
}

#delete-subject button{
    width: 30%;
    background-color: red;
}

#add-subject button {
    width: 30%;
    background-color: aqua;
}

#Assessment-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    display: none;
}

#Assessment-form  h3 {
    font-size: 24px;
    text-align: center;
}

#Assessment-form table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#Assessment-form  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

#Assessment-form  th {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}

#Assessment-form tr:nth-child(even) {
    background-color: #f2f2f2;
}

#Assessment-form tr:hover {
    background-color: #ddd;
}

#Assessment-form  input[type="number"],
input[type="text"] {
    width: 80%;
    padding: 10px;
}

/* Style for the Submit Button */
#Assessment-form  input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    
}

#Assessment-form input[type="submit"]:hover {
    background-color: #0056b3;
}


